.LWTFont
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 26px;
    COLOR: #ffff00;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

/*
     FILE ARCHIVED ON 20:19:09 Jun 05, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:38:43 Oct 17, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/