.thumbnail {
	position: relative;
	z-index:0;
	color:#000;
	border-bottom:none;
	text-decoration:none;
}

.thumbnailspan {
	position:absolute;
	background-color:lightyellow;
	padding:5px;
	border:1px dashed gray;
	visibility:hidden;
	color:black;
	text-decoration:none;
	color:#000;
	text-decoration:none;
	font-size:150%;
}

.thumbnailspanimg {
	border-width:0;
	padding:2px;
	color:#000;
	border-bottom:none;
	text-decoration:none;
}

.thumbnail:hover {
	background-color:transparent;
	z-index:50;
	color:#000;
	border-bottom:none;
	text-decoration:none;
}

.thumbnail:hoverspan {
	visibility:visible;
	top:0;
	text-align:center;
	color:#000;
	border-bottom:none;
	text-decoration:none;
}

.tthumbnail {
	position:relative;
	z-index:0;
}

.tthumbnailspan {
	position:absolute;
	background-color:lightyellow;
	padding:5px;
	left:-280px;
	border:1px dashed gray;
	visibility:hidden;
	color:black;
	text-decoration:none;
}

.tthumbnailspanimg {
	border-width:0;
	padding:2px;
}

.tthumbnail:hover {
	background-color:transparent;
	z-index:50;
}

.tthumbnail:hoverspan {
	visibility:visible;
	top:0;
}

.wrap {
	width:100%;
	margin:0auto;
}

a {
	color:#00A3FF;
	text-decoration:underline;
}

a:active {
	color:#FFD800;
	border-bottom:1px solid #FFD800;
}

a:active, a:focus, a:hover, a:visited {
	color:#FF7FED;
	text-decoration:none;
}

a:hover, a:visited {
	color:#FF5EA3;
	border-bottom:1px solid #47B2FF;
}

a:link {
	color:#FFF;
	text-decoration:none;
}

a.footer {
	color:white;
}

a.footer:link {
	color:#47B2FF;
	text-decoration:none;
	border-bottom:1px solid #FFF;
}

a.img_link {
	color:#000;
	border-bottom:none;
	text-decoration:none;
}

body {
	background:#000000;
	color:#FFFFFF;
	float:center;
	margin-left:450px;
	margin-right:450px;
	padding:5px;
	text-align:center;
	text-decoration:none;
}

footer, div.footer {
	left:0;
	bottom:5;
	width:100%;
	background-color:black;
	padding-top:7px;
	padding-bottom:7px;
	color:white;
	text-align:center;
}

h1 {
	margin-left:0px;
	float:center;
	text-align:center;
}

img.invisible {
	visibility:visible;
	border-color:red;
}

p.ascii {
	margin-left:15px;
	margin-right:200px;
	float:right;
	text-align:right;
}

p.left {
	margin-left:15px;
	float:none;
	text-align:left;
}

pink {
	color:#FF5EA3;
}

s {
	text-decoration:line-through;
	text-decoration-color:red;
}

table, td, th, tr {
	border:1px solid white;
	padding:10px;
	text-align:center;
}

table.test, td.test, th.test, tr.test {
	border:1px solid white;
	padding:10px;
	text-align:center;
}

th {
	font-size:150%;
}

th, td {
	padding:12px;text-align:center;
}

u {
	text-decoration:inherit;
	border-bottom:1px solid #47B2FF;
}

body {
    color:#FFF;
    background-color:#000;
    text-align: center;
    text-decoration: none;
}

a:link {
    color:#FFF;
    text-decoration: none;
}

a.footer:link {
    color:#47B2FF;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
}

a:hover, a:visited {
    color:#FF5EA3;
    border-bottom: 1px solid #47B2FF;
}

a:active {
    color:#FFD800;
    border-bottom: 1px solid #FFD800;
}

a.img_link {
    color:#000;
    border-bottom: none;
    text-decoration: none;
}

img.invisible {
    visibility: visible;
    border-color: red;
}

pink {
    color:#FF5EA3;
}

th {
    font-size: 150%;
}

th, td {
    padding: 12px;
    text-align: center;
}

.thumbnail {
    position: relative;
    z-index: 0;
    color:#000;
    border-bottom: none;
    text-decoration: none;
}

.thumbnail:hover {
    background-color: transparent;
    z-index: 50;
    color:#000;
    border-bottom: none;
    text-decoration: none;
}

.thumbnail span {
    position: absolute;
    background-color: lightyellow;
    padding: 5px;

    border: 1px dashed gray;
    visibility: hidden;
    color: black;
    text-decoration: none;
    color:#000;
    text-decoration: none;
    font-size: 150%;
}

.thumbnail span img {
    border-width: 0;
    padding: 2px;
    color:#000;
    border-bottom: none;
    text-decoration: none;
}

.thumbnail:hover span {
    visibility: visible;
    top: 0;
    text-align: center;
    color:#000;
    border-bottom: none;
    text-decoration: none;
}

.tthumbnail {
    position: relative;
    z-index: 0;
}

.tthumbnail:hover {
    background-color: transparent;
    z-index: 50;
}

.tthumbnail span {
    position: absolute;
    background-color: lightyellow;
    padding: 5px;
    left: -280px;
    border: 1px dashed gray;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.tthumbnail span img {
    border-width: 0;
    padding: 2px;
}

.tthumbnail:hover span {
    visibility: visible;
    top: 0;
}

u {
    text-decoration: inherit;
    border-bottom: 1px solid #47B2FF;
}

a.footer {
    color: white;
}

footer, div.footer {
    left: 0;
    bottom: 5;
    width: 100%;
    background-color: black;
	padding-top:7px;
	padding-bottom:7px;
    color: white;
    text-align: center;
}

s {
	
text-decoration: line-through;
text-decoration-color: red;
	
}