body {
    color:#DBB166;
    background-color:#1A417F;
    text-align: center;
    text-decoration: none;
    font-family: "Comic San", Sans-serif;
    font-size: 1300%;
    font-weight: bold;
}

p {
    font-size: 10%;
}