/*
--------------------------------------------------------
FileName:	LEGO Club
Version:	1.00.00
Author:	Nadeem Butt  05/07/2004 ~ Lego.com 
--------------------------------------------------------
*/

/*--- STANDARD ELEMENTS --------------------------------*/

/*--- END STANDARD ELEMENTS ----------------------------*/

/*--- LAYOUT STYLES ------------------------------------*/

BODY {
	FONT-FAMILY: verdana, arial, helvetica, sans-serif
}		

/*--- END LAYOUT STYLES ---------------------------------*/


/*--- TEXT STYLES ---------------------------------------*/

	.text
		{
   	FONT-SIZE: 10px;
   	COLOR: #333366;
   	FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	TEXT-DECORATION: none;
		}	
		
	.whitetext
		{
   	FONT-SIZE: 10px;
   	COLOR: #FFFFFF;
   	FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	TEXT-DECORATION: none;
		}
		
	.darktext
		{
   	 FONT-SIZE: 10px;
  		 COLOR: #666699;			
  		 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
		}
		
	.greytext
		{
   	 FONT-SIZE: 10px;
   	 COLOR: #336699;				
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
		}	
		
	.copyrighttext
		{
   	 FONT-SIZE: 10px;
   	 COLOR: #FFFFFF;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
		}
		
	.legalnotice
		{
   	 FONT-SIZE: 10px;
   	 COLOR: #336699;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
    	 FONT-WEIGHT: normal;
		}
		
	.whitelinks
		{
   	 FONT-SIZE: 11px;
   	 COLOR: #FFFFFF;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: underline;
		}

/*--- END TEXT STYLES -----------------------------------*/


/*--- LINK STYLES ---------------------------------------*/
	.whitetext a
	{
   	FONT-SIZE: 10px;
  		COLOR: #FFFFFF;
 		FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	TEXT-DECORATION: none;
	}

	.blacktext a
		{
   	FONT-SIZE: 10px;
   	COLOR: #000000;
  		FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
   	TEXT-DECORATION: none;
		}
	
	.darktext a
		{
   	 FONT-SIZE: 10px;
   	 COLOR: #666699;			
  		 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
		}
		

		a.legalnotice:hover
		{
		 FONT-SIZE: 10px;
		 COLOR: #336699;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
    	 FONT-WEIGHT: normal;
		}
		
	a.legalnotice:active
		{
  		 FONT-SIZE: 10px;
  		 COLOR: #336699;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
    	 FONT-WEIGHT: normal;
		}
		
	a.legalnotice:visited
		{
   	 FONT-SIZE: 10px;
   	 COLOR: #336699;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	 TEXT-DECORATION: none;
    	 FONT-WEIGHT: normal;
		}
		
	a.text:hover
		{
   	FONT-SIZE: 10px;
   	COLOR: #CC6633;
  		FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    	TEXT-DECORATION: none;
		}
		
	a.whitetext:hover {
   	FONT-SIZE: 10px;
   	COLOR: #FFFFFF;
   	FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
    TEXT-DECORATION: none;
	}
		
	a.whitetext:active {
   	 FONT-SIZE: 10px;
   	 COLOR: #FFFFFF;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
     TEXT-DECORATION: none;
	}
		
	a.whitetext:visited {
   	 FONT-SIZE: 10px;
   	 COLOR: #FFFFFF;
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
     TEXT-DECORATION: none;
	}
		
		
	a.greytext:hover {
   	 FONT-SIZE: 10px;
   	 COLOR: #336699;				
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
     TEXT-DECORATION: none;
	}
		
	a.greytext:visited {
   	 FONT-SIZE: 10px;
   	 COLOR: #336699;				
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
     TEXT-DECORATION: none;
	}
		
	a.greytext:active {
   	 FONT-SIZE: 10px;
   	 COLOR: #336699;				
   	 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
     TEXT-DECORATION: none;
	}
		
a.darktext:hover {
 FONT-SIZE: 10px;
 COLOR: #666699;			
 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
 TEXT-DECORATION: none;
}	
		
 a.whitelinks:hover {
 FONT-SIZE: 11px;
 COLOR: #FFFFFF;
 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
 TEXT-DECORATION: underline;
}
		
a.whitelinks:active {
 FONT-SIZE: 11px;
 COLOR: #000000;
 FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
 TEXT-DECORATION: none;
}

/*--- END LINK STYLES -----------------------------------*/



/*--- FORM STYLES ---------------------------------------*/


.inputData {	
BACKGROUND-COLOR: #FFFFFF;
BORDER: solid 1px #000000;
padding-bottom: 0px;
padding-right: 2px;
padding-top: 0px;
padding-left: 2px;
MARGIN: 0px;
WIDTH: 80px;
COLOR: #333366;
FONT-FAMILY: Arial, Verdana, Geneva, Helvetica, sans-serif;
FONT-SIZE: 11px;
}


.coolinput
{ MARGIN: 0px; 
PADDING: 0px; 
HEIGHT:18px; 
WIDTH: 156px;
FONT-SIZE: 11px;
COLOR: #999999;
}

.clubcode 
{
PADDING: 0px; 
MARGIN: 0px;
HEIGHT:15px;
WIDTH: 60px;
VERTICAL-ALIGN: middle;
FONT-SIZE: 10px;
FONT-WEIGHT: Bold;
COLOR: #999999;
}

.comicSelect
{ MARGIN: 0px; 
PADDING: 0px; 
HEIGHT:20px; 
WIDTH: 190px;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
COLOR: #000000;
}

.coolSelect
{ MARGIN: 0px; 
PADDING: 0px; 
HEIGHT:20px; 
WIDTH: 156px;
FONT-SIZE: 11px;
FONT-WEIGHT: bold;
COLOR: #000000;
}

.clubsubmit 
{
PADDING: 0px; 
MARGIN: 0px;
HEIGHT:15px;
VERTICAL-ALIGN: middle;
FONT-SIZE: 10px;
FONT-WEIGHT: Bold;
COLOR: #999999;
}

/*--- END FORM STYLES -----------------------------------*/

/*--- GENERIC STYLES ------------------------------------*/

/*--- END GENERIC STYLES --------------------------------*/


/*--- GAMES STYLES ------------------------------------*/

/*-- these styles have been commented out becuase of a conflict with the globalnav
- everything seems to work ok regardless

		UL {
			PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 146px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LIST-STYLE-TYPE: none
		}
		UL LI {
			POSITION: relative;
		}
		LI UL {
			WIDTH: 146px; DISPLAY: none; LEFT: 146px; POSITION: relative; TOP: 0px;
		}
		UL LI A {
			WIDTH: 146px; BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; COLOR: #777; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 0px solid; TEXT-DECORATION: none
		}
		 HTML UL LI {
			FLOAT: left; HEIGHT: 1%;
			cursor: auto
		}
		 HTML UL LI A {
			HEIGHT: 1%
		}
		LI:hover UL {
			DISPLAY: block
		}
		LI.over UL {
			DISPLAY: block
		}
		
	NB 11/01/2005
		
	 --* /

/*--- END GAMES STYLES --------------------------------*/

/*--- GALLERY STYLES ----------------------------------*/

.gallery
{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
   color: #FFFFFF;
   font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

.gallery p
{
	margin: 3px;
	padding: 0px;
	font-size: 10px;
   color: #FFFFFF;
   font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;

}

.gallerydark
{
	margin: 0px;
	padding: 0px;
	font-size: 10px;
   color: #000000;
   font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
   TEXT-DECORATION: none;
}

.gallerydark p
{
	margin: 3px;
	padding: 0px;
	font-size: 10px;
   color: #000000;
   font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

.gallerydark a
{
   text-decoration: underline;
	padding: 0px;
	font-size: 10px;
   color: #000000;
   font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

.gallerydark a:hover
{
   text-decoration: underline;
	padding: 0px;
	font-size: 10px;
   color: #000000;
   font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}

.gallerydark a:visited
{
   text-decoration: underline;
	padding: 0px;
	font-size: 10px;
   color: #000000;
   font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}


/*--- END GALLERY SYLES --------------------------------*/
/*
     FILE ARCHIVED ON 05:32:30 Mar 21, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:13:01 Oct 01, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/